# Java
*.class
*.jar
*.war
*.ear
!app/postgresql.jar
!app/jedis*.jar
!app-training/postgresql.jar

# Tomcat
app/tomcat/logs/*
app/tomcat/webapps/*

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Postgres
postgres/var/lib/postgresql/data

# Redis
redis/data/*

# Redis
redis/data/*.rdb

# Maven
app/.mvn/repository
app/.mvn/effective-pom.xml
app/.mvn/effective-settings.xml

# Miscellaneous
target/
app/src/main/webapp/META-INF/MANIFEST.MF
app/src/profiles/**/resources/conf/jpa.properties
