<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>ログインフォーム</title>
</head>
<body>
<h3>ログインフォーム</h3>
<p th:if="${param.error}">Error!</p>
<form th:action="@{/authenticate}" method="POST">
  <table>
    <tr>
      <td><input type="text" id="username" name="username" placeholder="username" /></td>
    </tr>
    <tr>
      <td><input type="password" id="password" name="password" placeholder="password" /></td>
    </tr>
    <tr>
      <td><button type="submit">ログイン</button></td>
    </tr>
  </table>
</form>
</body>
</html>
